body{
    background-color: black;
}

*{
    color: white;
    font-family: Arial;
}

table {
    display: table;
    padding-left: 46%;
    position: fixed;
}

h2 {
    padding-top: 30px;
    padding-right: 38px;
}

