html, body {
    margin: 0;
    padding: 0;
}

*{
    background-color: black;
    color: white;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

#container{
    height: 100%;
    width: 100%;
    animation: bg-change 5s infinite;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.comet
{
    position: relative;
}

#comet{
    left: 100%;
    animation: fly 5s infinite;
}


@keyframes fly{
    

    from {
        left: 0;
    }

    to {
        left: 120%;
        top: 50%;
    }
}

/*0% {
        left: 100%;
        top: 5px;
    }

    25% {
        top: 100px;
    }

    50% {
        top: 400px;
    }

    75% {
        top: 700px;
    }

    100% {
        left: 120px;
        top: 900px;
    }*/