@model IEnumerable<Asteroid2DWeb.Model>

@{
    ViewData["Title"] = "AllScores";
}

<!DOCTYPE html>
<html>
<head>
   
    <link rel="stylesheet" type="text/css" href="~/CSS/PlayerScoreBoardq.css">
    <meta charset="utf-8" />

</head>


<div>
    <img usemap="" src="~/images/AsteroidType2.png" id="comet" class="comet" alt="Italian Trulli">
</div>
</html>


@*<body>
    <div class="container">
        <img usemap="" src="~/images/AsteroidType2.png" id="comet" class="comet" alt="Italian Trulli">
        <table class="centered">
            <tbody class="centered">
                @foreach (var item in Model)
                {
                    <tr class="centered">
                        <td style="padding: 25px 0px 0px 5px;">
                            @item.PlayerName
                        </td>
                        <td style="padding: 25px 0px 0px 20px;">
                            @item.Score
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>*@